body {
    font-family: 'Lato', sans-serif;
    margin: 10px;
}

.button {
    cursor: pointer;
    color: rgb(56, 117, 56);
    background-color: white;
    border-color: grey;
}

#randomDigitsCompleteButton {
    color: green;
    display: none;
}